<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
	<persistence-unit name="userPU" transaction-type="RESOURCE_LOCAL">
        <!--jpa的提供者-->
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<properties>

			<!-- coding 演示地址
				<property name="hibernate.connection.url" value="jdbc:mysql://10.9.1.188:3306/cf_b2f7468f_6712_4fbd_a2da_2c82dade63c1"/>
				<property name="hibernate.connection.username" value="xP2sehNmC4c2V98R"/>
				<property name="hibernate.connection.password" value="gvnleiZARFlQ96BY"/>
			 -->
            <!--配置方言-->
	<!--		<property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>
            &lt;!&ndash;激活查询日志功能&ndash;&gt;
			<property name="hibernate.show_sql" value="false"/>
            &lt;!&ndash;优雅地输出Sql&ndash;&gt;
			<property name="hibernate.format_sql" value="true"/>
            &lt;!&ndash;添加一条解释型标注&ndash;&gt;
			<property name="hibernate.use_sql_comments" value="false"/>
            &lt;!&ndash;配置如何根据java模型生成数据库表结构,常用update,validate&ndash;&gt;
			<property name="hibernate.hbm2ddl.auto" value="update"/>-->
		</properties>
	</persistence-unit>
</persistence>